:root {
    --family-font: "Open Sans", sans-serif; /* Full weight axis: 300 to 800 // Optional Font: "Crimson Pro", serif; */
    --primary-color: #0c120c;
    --secondary-color: #9c0010;
    --light-color: #ECEBF3;
}
/************************* GENERAL *************************/
* {
    font-family: var(--family-font);
    box-sizing: border-box;
}

body {
    color: var(--primary-color);
}

header, .navigation li {
    border-bottom: solid 1px #c0c0c0;
}

main, .footer {
    padding: 1rem .6rem;
}

.logo-name {
    font-weight: 600;
}

/************************** HEADER **************************/
.header {
    display: grid;
    grid-template-columns: 24px auto 48px 48px;
    padding: 15px 0 15px 10px;
    gap: 8px;
    align-items: center;
}

.header img {
    display: block;
    width: 100%;
    height: auto;
}

.header span {
    font-size: 1.2rem;
    color: var(--secondary-color);
}

/************************ DARK MODE BTN ************************/
.dark, .hamburger {
    width: 48px;
    height: 48px;
}

.dark::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("../images/dark-mode.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.dark.on::before {
    background-image: url("../images/dark-mode-on.svg");
}

/************************ HAMBURGER NAV ************************/
.hamburger, .dark {
    background: none;
    border: none;
    font-size: 2rem;
    color: var(--primary-color);
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
    content: "\2630";
}

.hamburger.show::before {
    content: "\00D7";
}

/************************ NAVIGATION MENU ************************/
.navigation {
    display: none;
    text-align: center;
    /* opacity: .8; */
}

.navigation.show {
    display: block;
}

.navigation ul {
    background-color: var(--primary-color);
    margin: 0;
    padding: 0;
}

.navigation li {
    list-style: none;
}

.navigation li.current {
    background-color: var(--secondary-color);
    /* pointer-events: none; */
}

.navigation a {
    display: block;
    text-decoration: none;
    font-weight: 500;
    padding: 1rem;
    color: var(--light-color);
}

.navigation a:hover, .views button:hover {
    background-color: var(--light-color);
    color: var(--primary-color);
}

/************************* MAIN *************************/
/* VIEWS */
.views {
    display: flex;
}

.views button {
    width: 100%;
    height: 48px;
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--light-color);
    font-weight: 600;
    border: none;
}

.views button.applied {
    background-color: var(--secondary-color);
    pointer-events: none;
}

/************** GRID DISPLAY **************/
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: .5rem;
    padding: 1rem 0;
}

.grid .name {
    text-align: center;
}

/************** CARD STYLES **************/
/**** Normal ****/
.card {
    padding: 1rem;
    box-shadow: 0 0 5px;
    align-content: center;
    border: solid 2px var(--secondary-color);
}

.card img {
    display: block;
    margin: .6rem auto;
}

.card .label {
    font-weight: 600;
}

.card ul {
    padding: 0 1rem;
}

/* Links */
.card a {
    word-wrap: break-word;
    color: var(--secondary-color);
    text-decoration: none;
}

.card a:hover {
    text-decoration: underline;
}

/**** Silver ****/
.card.silver {
    border: solid 2px silver;
}

/**** Gold ****/
.card.gold {
    border: solid 2px gold;
}

/************** LIST DISPLAY **************/
.list {
    display: flexbox;
    font-size: 80%;
}

.list .card {
    /* box-shadow: none; */
    margin: .6rem 0;
    align-items: center;
    display: grid;
    grid-template-columns: auto;
    gap: 0 1rem;
}

.list img {
    display: none;
}

.list .name {
    border-bottom: solid 1px var(--primary-color);
}

.list div {
    margin-top: .6rem;
}

.list p {
    margin: .5rem 0;
}

/************************ FOOTER ************************/
footer {
    background-color: var(--primary-color);
    text-align: start;
    color: var(--light-color);
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.social img, .social a {
    width: 48px;
    height: 48px;
    color: var(--light-color);
}

.footer .contact-info {
    width: fit-content;
    margin: 0 auto;
}

.footer .logo-name {
    font-size: 1.5rem;
}

.my-info {
    text-align: center;
}