/* 960px */
@media only screen and (min-width: 60rem) {
    /* CTA */
    .cta {
        top: 30%;
    }

    .cta span, .cta h1 {
        font-size: 2.5rem;
    }

    /* HOME INFO SECTION */
    .info {
        display: grid;
        grid-template-columns: 1fr 270px 250px;
    }

    #events, #weatherCurrent {
        grid-column: auto;
    }
}