/* 608px */
@media only screen and (min-width: 38rem) {
    .container, .hero, .navigation ul {
        max-width: 1000px;
        margin: 0 auto;
    }

    .header, .footer {
        max-width: 1050px;
        margin: 0 auto;
    }

    .header {
        grid-template-columns: 24px auto 48px;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
    }

    .navigation ul {
        display: flex;
    }
    
    .navigation li {
        flex: 1 1 100%;
        border-bottom: none;
    }

    /************** LIST DISPLAY **************/
    .list .card {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .list .name {
        grid-column: span 2;
    }

    /* HOME */
    .hero img {
        opacity: .8;
    }
    
    /* CTA */
    .cta {
        position: absolute;
        top: 20%;
        left: 15%;
        right: 15%;
        opacity: .9;
    }
    
    /* HOME INFO SECTION */
    .info {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .info h1 {
        grid-column: 1 / -1;
    }

    .info h1, #events  {
        grid-column: 1 / -1;
    }

    /*********************** JOIN PAGE  ***********************/
    .join {
        grid-template-columns: 1fr 1fr;
    }

    /********************* DISCOVER PAGE  *********************/
    #allPlaces div {
        grid-template-columns: 300px auto;
        grid-template-areas:
        "picture title"
        "picture description"
        "picture address"
        "picture button";
    }

    #allPlaces img {
        object-fit: cover;
        overflow: hidden;
        object-position: center;
        height: 100%;
        width: 100%;
    }
}

/* For a Specific Transition */
/* 720px */
@media only screen and (min-width: 45rem) {
    /* CTA */
    .cta {
        top: 25%;
        left: 20%;
        right: 20%;
    }

    /************************ FOOTER ************************/
    .footer {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 1rem;
        align-items: start;
        padding: 1rem;
    }
}