/* Mobile view and General Rules */
/* Effects (hover, transition, current, etc) and Animations are
at the end of the CSS. */
/* VARIABLES */
:root {
    --titles-font: "Dancing Script", cursive;
    --headings-font: "Noto Serif", serif;
    --body-font: "Open Sans", sans-serif;
    --primary-color: #9dc059;
    --secondary-color: #f3c534;
    --accent-color: #00796b;
    --accent-color-2: #ff9142;
    --text-color: #0d0d0d;
    --main-background: #faf9f6;
    --background-2: #e0e0e0;
}

/******************/
/* OVERALL STYLES */
/******************/
* {
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
}

h1, .logo-name, .hero h2 {
    font-family: var(--titles-font);
}

h2, h3 {
    font-family: var(--headings-font);
    font-weight: 200;
}

/* Header and Footer colors */
header, footer {
    background-color: var(--primary-color);
}

.header, .navigation, .footer {
    padding: .5rem 1rem;
}

.footer {
    text-align: center;
}

.strong {
    font-weight: 600;
}

/*************/
/*   HEADER  */
/*************/
.header {
    display: grid;
    grid-template-columns: auto 1fr 3rem;
    align-items: center;
    gap: .5rem;
}

/*************************/
/* LOGO AND NAME SPECIAL */
/*************************/
.logo {
    width: 3rem;
    height: auto;
}

/*****************/
/*   NAVIGATION  */
/*****************/
.navigation {
    padding: 0;
    display: none;
    background-color: var(--primary-color);
}

.navigation ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.navigation a {
    animation: slide-in-left .5s ease-out;
    font-weight: 600;
    display: block;
    padding: .8rem;
    color: var(--text-color);
    text-decoration: none;
    background-color: var(--primary-color);
}

.navigation.show {
    display: block;
}

/* HAMBURGER MENU */
.hamburger {
    background: none;
    border: none;
    font-size: 2rem;
    color: var(--main-color);
    cursor: pointer;
    font-family: var(--body-font);
}

.hamburger::before {
    content: "\2630";
}

.hamburger.show::before {
    content: "\00D7";
}

/* This one is specific for
the homepage */
/**************************/
/* HERO BANNER AND SEARCH */
/**************************/
/* Banner */
.hero {
    width: 100%;
    position: relative;
}

.hero img {
    width: 100%;
    height: auto;
}

/* Search Form */
.hero-search {
    margin: .5rem;
    background-color: color-mix(in srgb, var(--background-2), transparent 30%);
    align-items: center;
    padding: .5rem;
    display: grid;
    grid-template-columns: auto;
    border-radius: .8rem;
}

.hero h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: .5rem;
}

.hero-search label {
    display: block;
    margin: 1rem 0 .2rem;
    align-self: end;
}

.hero-search input, .hero-search button {
    padding: .7rem .5rem;
    margin: .2rem 0;
    align-self: baseline;
    border-radius: .5rem;
    border: 1px solid var(--text-color);
}

.hero-search button {
    background-color: var(--secondary-color);
    cursor: pointer;
}
/*********************/
/* SECTION CONTAINERS*/
/*********************/
/* CONTAINER */
.container {
    margin: 2rem .5rem;
}

/********************************/
/* RECIPES CONTAINER TO DISPLAY */
/********************************/
/* Recipe Card display info */
.recipe-card {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.recipe-card .ingredients, .recipe-card .instructions {
    display: none;
}

/*****************/
/* RECIPES STYLE */
/*****************/
.recipe {
    flex: 0 0 auto;
    position: relative;
    align-items: center;
    background-color: color-mix(in srgb, var(--background-2), transparent 30%);
    padding: 1rem 1rem .5rem;
    border: 1px solid var(--secondary-color);
    border-radius: .5rem;
    margin: .2rem;
    /* Grid Areas */
    display: grid;
    grid-template-areas: 
    "image"
    "name"
    "prep-time"
    "difficulty"
    "view-more";
}

.recipe p {
    margin: .2rem 0;
}

.recipe .recipe-picture {
    grid-area: image;
    width: 100%;
    height: auto;
    max-width: 250px;
    margin: 0 auto;
    border-radius: .2rem;
}

.recipe h3 {
    grid-area: name;
    margin: 1rem 0 .5rem;
}

.recipe .prep-time {
    grid-area: prep-time;
}

.recipe .difficulty {
    grid-area: difficulty;
}

.recipe .ingredients {
    grid-area: ingredients;
}

.recipe .instructions {
    grid-area: instructions;
}

.recipe .see-more, .request button {
    grid-area: view-more;
    margin: .5rem 0;
    padding: .5rem;
    background-color: var(--secondary-color);
    border: none;
    border-radius: .2rem;
    cursor: pointer;
}

/* Favorite mark */
.recipe .fav-tag {
    position: absolute;
    top: .8rem;
    right: 1rem;
    width: 44px;
    height: auto;
    padding: 2px;
    background-color: initial;
    border: none;
}

/* FULL RECIPE STYLE */
.full-recipe .recipe {
    width: fit-content;
    margin: auto;
    /* Grid Areas */
    gap: 1rem;
    grid-template-areas: 
    "image"
    "name"
    "prep-time"
    "difficulty"
    "ingredients"
    "instructions";
}

.full-recipe .recipe .see-more {
    display: none;
}

/* RECIPE LIST DISPLAY */
.recipe-list .recipe {
    /* Grid Areas */
    grid-template-areas: 
    "image"
    "name"
    "prep-time"
    "difficulty"
    "ingredients"
    "view-more";
}

.recipe-list .recipe .instructions {
    display: none;
}

/* REQUEST FORM */
.request {
    margin: 0 auto;
    max-width: 40rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--background-2);
}

.request fieldset {
    border: none;
}

.request legend {
    padding: 1rem 0 .5rem;
    font-size: 1.5rem;
}

.request input, .request label, .request textarea, .request button {
    display: block;
    width: 100%;
}

.request label {
    margin: 1rem 0 .2rem;
}

.request input, .request textarea {
    padding: .8rem;
}

.request button {
    margin: 1rem 0 0;
    padding: .8rem;
}

/* .request textarea {

} */

/*************************/
/* HOVER & OTHER EFFECTS */
/*************************/
.nav-hover:hover, .nav-hover:focus, .navigation .current {
    background-color: var(--secondary-color);
    text-decoration: underline;
    transition: background-color .3s linear;
}

.standard-hover:hover, .standard-hover:focus {
    background-color: var(--accent-color-2);
    transition: background-color .3s ease-in-out;
}

/*****************/
/*  ANIMATIONS  */
/*****************/
@keyframes slide-in-up {
    0% {
        transform: translateY(30%);
        opacity: 0;
    }
    100% {
        transform: translate(0, 0);
        opacity: 100%;
    }
}

@keyframes slide-in-left {
    0% {
        transform: translateX(20%);
        opacity: 0;
    }
    100% {
        transform: translate(0, 0);
        opacity: 100%;
    }
}