/* 960px */
@media only screen and (min-width: 60rem) {
    .header, .footer {
        max-width: 65rem;
        margin: 0 auto;
    }

    .footer {
        text-align: left;
    }

    footer {
        margin-top: 1rem;
    }

    .container, .hero, .navigation ul {
        max-width: 58rem;
        margin: 0 auto;
    }

    .hero h2 {
        margin: 1.5rem;
    }

    .hero-search {
        height: 19rem;
        top: 15%;
    }

    .recipe {
        flex: 1 1 100%;
    }

    .recipe-card {
        scrollbar-width: none;
    }
}